:root {
  --primary-color: red;
  --secondary-color: yellow;
}

.wrapper {
  display: flex;
  background-color: var(--primary-color);
}

body {
  display: flex;
  background-color: var(--primary-color);
}

.mainH1 {
  color: var(--secondary-color);
}